:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.list {
  list-style: none;

}
.language {
  margin: 30px;
  border: solid 1px rgb(25, 159, 168);
  border-radius: 5%;
  box-shadow: 5px 10px rgb(16, 103, 109);
  background-color: rgb(230, 241, 243);
  padding: 20px; /* Para darle espacio interno */
  display: flex; /* Hace que los elementos internos se alineen */
  flex-direction: column; /* Mantiene el flujo de los elementos en columna */
  align-items: flex-start; /* Alinea el botón a la derecha */
  .language-button {
    color: white;
    background-color: rgb(59, 163, 170);
    border-radius: 5%;
    display: block;
    padding: 10px 20px; /* Ajusta el tamaño del botón */
    border: none;
    text-align: center; /* Centra el texto dentro del botón */
    width: 150px; /* Define un ancho fijo para mejorar la apariencia */
    margin-left: auto;
  }  
  .language-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    img {
      width: 50px;
      height: auto;
      margin-left: 250px;
    }
  }
}
.fruit {
  height: 200px;
}